/* Misc. base styles */

.browser-upgrade {
  background: #ccc;
  color: $black;
  padding: 0.4em 0;
  text-align: center;
}

iframe {
  border: none;
}

/* Foundation 6 custom styles */
.row {
  max-width: 75em;
}

/* Climb custom styles */
#climb {
  @include shadow-1;

  &:focus,
  &:after {
    box-shadow: none;
  }
}

.site-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /**
 * Fixes IE bug which occurs when:
 * display: flex;
 * flex-direction: column;
 * min-height: {size};
 *
 * Must either not have a min-height or have an explicit height as well
 * Known issue - http://caniuse.com/#feat=flexbox
 *
 */
  @include only_ie11_above((min-height: initial));
}

.site-main {
  flex-grow: 1;
}
