/* CSS helper classes. */

/* Clearfix hack */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Reset base styles of <ul> */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Full-width iframe map */
.scroll-off {
  pointer-events: none;
}

/* Background overlay */
.background-overlay {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary-color, 0.7);
  }
}
