/*
 Typography Variables
*/

/*
 Typography Mixins
*/

/*
 Typography Styles
*/
body{
  font-size:17px;
  @include font-stack-body;
}

h1,h2,h3,h4,h5{
  color:darken($primary-color, 10%);
  @include font-stack-header;
}

h5.white,
h3.white{
  color:$white;
}

a{
  
  &:hover{
   
  }
}

hr{
  background-color:$secondary-color;
  border:none;
  height:4px;
  width:70px;
  margin:0 0 2em 0;
}