/* Typography styles */

body{
  font-size: 17px;
  @include font-stack-body;
  @include breakpoint(medium down) {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5{
  @include font-stack-header;
}

a{
  color:$accent-color;
  @include transition;

  &:hover{
    color:darken($accent-color, 10%);
  }
}