/* Mixins */

/* Transition mixin */
@mixin transition {
  transition: all .4s ease;
}

/* Full width background image */
@mixin image-bg($img) {
  background: url($img) no-repeat center center;
  background-size: cover;
}

/* Typography mixins */
@mixin font-stack-header {
  font-family: 'Open Sans', sans-serif;
}

@mixin font-stack-body {
  font-family: 'Open Sans', sans-serif;
}

/* Google's Material Design mixin for box-shadow*/
@mixin shadow-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@mixin shadow-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

@mixin shadow-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

@mixin shadow-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

@mixin shadow-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}

/* Gives text a 3d effect -= http://codepen.io/Twixes/pen/wMYXLM */
@mixin three-d($color:$accent-color, $important: false) {
  @if $important == true {
    color: $color !important;
    text-shadow: 0 0 0 $color,
                 0 1px 0 darken($color, 20),
                 0 2px 0 darken($color, 22),
                 0 3px 0 darken($color, 24),
                 0 4px 0 darken($color, 26),
                 0 5px 0 darken($color, 28),
                 0 6px 3px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(0, 0, 0, 0.1),
                 0 1px 3px rgba(0, 0, 0, 0.15),
                 0 3px 5px rgba(0, 0, 0, 0.2),
                 0 5px 10px rgba(0, 0, 0, 0.25),
                 0 10px 10px rgba(0, 0, 0, 0.2),
                 0 20px 20px rgba(0, 0, 0, 0.15) !important;
  } @else {
    color: $color;
    text-shadow: 0 0 0 $color,
                 0 1px 0 darken($color, 20),
                 0 2px 0 darken($color, 22),
                 0 3px 0 darken($color, 24),
                 0 4px 0 darken($color, 26),
                 0 5px 0 darken($color, 28),
                 0 5px 3px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(0, 0, 0, 0.1),
                 0 1px 3px rgba(0, 0, 0, 0.15),
                 0 3px 5px rgba(0, 0, 0, 0.2),
                 0 5px 10px rgba(0, 0, 0, 0.25),
                 0 10px 10px rgba(0, 0, 0, 0.2),
                 0 20px 20px rgba(0, 0, 0, 0.15);
  }
}

/* Text shadow -- https://github.com/matthieua/sass-css3-mixins*/
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0, .4)) {
    text-shadow: $x $y $blur $color;
}

/* Background vertical gradient -- https://github.com/matthieua/sass-css3-mixins */
@mixin background-gradient($startColor:$primary-color, $endColor:$secondary-color) {
  background-color: $startColor;
  background-image: linear-gradient($startColor, $endColor);
}

/* Background horizontal gradient -- https://github.com/matthieua/sass-css3-mixins*/
@mixin background-horizontal($startColor:$primary-color, $endColor:$secondary-color) {
  background-color: $startColor;
  background-image: linear-gradient(to right, $startColor, $endColor);
}

/*
  Create long shadows -- http://codepen.io/danieltott/pen/AjKay
  Uses makelongshadow function in utility/functions.scss
*/
@mixin long-shadow($color) {
  text-shadow: makelongshadow($color);
}

/* Truncate text -- http://codepen.io/iMarkup/pen/LEjMZN */
@mixin truncate-text($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  /* Values for text-overflow are: clip, ellipsis, or a string */
  text-overflow: $overflow;
}

/* Loader animation */
@mixin ball-pulse($n: 3, $start: 1) {
  @for $i from $start through $n {
    > div:nth-child(#{$i}) {
      animation: scale 0.75s delay(0.12s, $n, $i) infinite cubic-bezier(.2,.68,.18,1.08);
    }
  }
}
