/*
  Page:Index variables
*/

/*
  Page:Index mixins
*/

/*
  Page:Index styles
*/ 

.page-section{
  padding:4em 0;

  header{
    text-transform:uppercase;
    margin-bottom:1em;

 
  }
}

.page-section.overlay{
  background-color:$primary-color;
  color:$white;

 .card{
  background-color:$white;
  color:$black;
 }

 .card__header{
  padding:0.8em 1.4em 0.8em;
  padding-bottom:0;
  margin:0;
  
  h4{
    margin:0;
  }
 }

 .card__body{
  padding:1.4em;
  p{
    color:lighten($black, 40%);
  }
 }
}

.page-section.overlay-image{
  position:relative;
  background: url(../images/shuttle.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .row{
    position:relative;
    z-index:200;
  }

  &:before{
    content:'';
    background-color:rgba($white, 0.7);

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;
  }
}

.page-section__contact{
  background:#eee;
  .overlay{
    background-color:$primary-color;

  }
  .columns{
    padding:4em 3em;

    .columns{
      padding:1em;
      
      i{
        font-size:2.0em;
        color:$secondary-color;
      }
      h4{
        display:inline;
      }
    }
  }
}

.section-map{
  position:relative;
 
  .map-overlay{  
    color:$white;
    
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    
    width:100%;
    padding:2em 0;

    h5{
      margin-bottom:1em;
    }

    i{
      color:$secondary-color;

    }
    
    a{
      color:inherit;
    }

    &:after{
      content:'';
      background:rgba($primary-color, 0.8);
      
      position:absolute;
      top:0;
      left:0;
      z-index:50;

      width:100%;
      height:100%;
    }

    .columns{
      position:relative;
      z-index:400;
    }
  }

  .scrolloff {
    pointer-events: none;
  }

   iframe{
    width:100%;
    min-height:700px;
    border:none;
  }
}