<ul class="social-list">

  <li class="social-list--item facebook">
    <a href="#!" class="social-list--link" title="Facebook">
      <i class="fa fa-facebook"></i>
    </a>
  </li><!-- Facebook link -->

  <li class="social-list--item google-plus">
    <a href="#!" class="social-list--link" title="Google+">
      <i class="fa fa-google-plus"></i>
    </a>
  </li><!-- Google+ link -->

  <li class="social-list--item twitter">
    <a href="#!" class="social-list--link" title="Twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </li><!-- Twitter link -->

  <li class="social-list--item linked-in">
    <a href="#!" class="social-list--link" title="LinkedIn">
      <i class="fa fa-linkedin"></i>
    </a>
  </li><!-- LinkedIn link -->

</ul>
