/*
  Footer variables
*/

/*
  Footer mixins
*/

/*
  Footer styles
*/
.site-footer{
  background:$primary-color;
  color:$white;
  text-align:center;
  
  padding:1em 0;

  a{
    color:$white;
  }
  p{
    margin:0;
  }
}