/* Nav styles */
// Dropdown FOUC fix - http://foundation.zurb.com/sites/docs/dropdown-menu.html#preventing-fouc
.site-nav {

}

// Menu active class styles
.menu .active > a {
  background-color: $secondary-color;
}

// Menu dropdown arrow styles
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  content: '';
  border-color: $secondary-color transparent transparent;
  right: 5px;
  margin-top: -2px;
}
