<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{{#ifpage 'index'}}
  {{#title 'index'}}{{/title}}
  {{#description 'index'}}{{/description}}
{{/ifpage}}

{{#ifpage '404'}}
  {{#title 'forhohforh'}}{{/title}}
{{/ifpage}}

{{#unlesspage '404'}}
  <!-- Facebook / Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="Content Title">
  <meta property="og:description" content="Description Here">
  <meta property="og:locale" content="en_US">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="Content Title">
  <meta name="twitter:description" content="Content description less than 200 characters">

  <!-- Google+ / Schema.org-->
  <meta itemprop="name" content="Content Title">
  <meta itemprop="description" content="Content description less than 200 characters">
{{/unlesspage}}

  <link rel="icon" type="image/png" href="favicon.png">

  <link rel="stylesheet" href="{{root}}assets/styles/main.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));

    ga('create','UA-XXXXX-X','auto');
    ga('send','pageview');
  </script>
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {{> header}}

  {{#ifpage 'index'}}
    {{> hero}}
  {{/ifpage}}

  {{> body}}

  {{> footer}}

  <button id="climb"></button>

  <script src="{{root}}assets/scripts/main.js"></script>
</body>
</html>
