<ul class="accordion" data-accordion role="tablist">
  <li class="accordion-item is-active">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Space Fact #1</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nemo minus, voluptatem quaerat earum dignissimos. Sapiente commodi praesentium velit ad, repellat optio aut blanditiis itaque? Ducimus dolores deleniti, consectetur alias.
    </div>
  </li>
  <li class="accordion-item">
    <a href="#panel2d" role="tab" class="accordion-title" id="panel2d-heading" aria-controls="panel2d">Space Fact #2</a>
    <div id="panel2d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel2d-heading">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt inventore ut libero illo dolorum aspernatur tempora numquam, vitae iste enim repellendus veniam dolorem vel dolore. Ab recusandae numquam nostrum, possimus.
    </div>
  </li>
  <li class="accordion-item">
    <a href="#panel3d" role="tab" class="accordion-title" id="panel3d-heading" aria-controls="panel3d">Space Fact #3</a>
    <div id="panel3d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel3d-heading">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis fugiat explicabo voluptas dolorem, magnam eius ullam earum inventore assumenda, ex officiis, alias quos, a architecto? Quas, doloribus totam et.
    </div>
  </li>
</ul>