<header id="site-header" class="site-header">
  <div class="site-header__top">
    <div class="row">
      <div class="columns medium-3 small-12">
        <span class="quote">
          Lorem ipsum dolor sit amet.
        </span>
      </div>
      <div class="columns medium-3 small-12">
        <span class="telephone">
          <i class="mdi mdi-phone"></i>
          CALL TODAY: <a href="tel:{{config.telephone}}">{{config.telephone}}</a>
        </span>
      </div>
      <div class="columns medium-3 small-12">
        <span class="email">
          <i class="mdi mdi-email"></i>
          <a href="mailto:{{config.email}}">{{config.email}}</a>
        </span>
      </div>
      <div class="columns medium-3 small-12">
        <span class="hours">
          <i class="mdi mdi-clock"></i>
          Mon - Sat: 9AM - 6PM
        </span>
      </div>
    </div>
  </div>
  <div class="row site-header__bottom">
    <div class="columns medium-4 small-12 site-logo">
      <a href="index.html">
        <span class="site-logo__text">
          Forh Template
        </span>
      </a>
    </div>
    <nav class="columns medium-8 small-12 site-nav">
      <ul class="site-nav__menu">
        <li class="site-nav__item">
          <div class="site-nav__toggle">
            <i id="nav-open" class="mdi mdi-menu"></i>
            <i id="nav-close" class="mdi mdi-close"></i>
          </div>
        </li>
      </ul>
      <ul id="site-nav" class="js-menu site-nav__menu">
        <li class="site-nav__item"><a href="index.html">Home</a></li>
        <li class="site-nav__item"><a href="about.html">About</a></li>
        <li class="site-nav__item"><a href="#!">Services</a></li>
        <li class="site-nav__item"><a href="#!">Contact</a></li>
      </ul>
      <ul  class="site-nav__menu social">
        <li  class="site-nav__item">
          <a href="#!" target="_blank">
            <i class="mdi mdi-facebook"></i>
          </a>
        </li>
        <li  class="site-nav__item">
          <a href="#!" target="_blank">
            <i class="mdi mdi-google-plus"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>