<header class="site-header-wrapper">
  <div class="site-header-top">
    <div class="row inner-wrapper">
      <div class="social box">
        <a href="#!" class="facebook" target="_blank">
          <i class="mdi mdi-facebook"></i> 
        </a>
        <a href="#!" class="twitter" target="_blank">
          <i class="mdi mdi-twitter"></i> 
        </a>
        <a href="#!" class="googlePlus" target="_blank">
          <i class="mdi mdi-google-plus"></i> 
        </a>
        <a href="#!" class="instagram" target="_blank">
          <i class="mdi mdi-instagram"></i>
        </a>
      </div>
      <div class="telephone box">
        <a href="#!">
          <i class="mdi mdi-phone"></i> 
          (555) 555-5555
        </a>
      </div>
      <div class="hours box">
        <span>
          <i class="mdi mdi-clock"></i> 
          Mon-Fri 8:00 to 5:00
        </span>
      </div>
      <div class="email box">
        <a href="#!">
        <i class="mdi mdi-email"></i> 
        contact@yourdomain.com
        </a>
      </div>
    </div>
  </div>
  <div class="site-header-bottom">
      <nav class="row inner-wrapper">
        <div class="logo">
          <a href="index.html"><span class="logo">Star Wars Theme</span></a>
        </div>
        <ul class="site-nav">
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
  </div>
</header>