<div class="forh-slider">
  <div>
    <img src="http://fillmurray.com/800/400" alt="bill murray">
  </div>
  <div>
    <img src="http://fillmurray.com/800/400" alt="bill murray">
  </div>
  <div>
    <img src="http://fillmurray.com/800/400" alt="bill murray">
  </div>
  <div>
    <img src="http://fillmurray.com/800/400" alt="bill murray">
  </div>
  <div>
    <img src="http://fillmurray.com/800/400" alt="bill murray">
  </div>
  <div>
    <img src="http://fillmurray.com/800/400" alt="bill murray">
  </div>
</div>