/*
  Accordion variables
*/

/*
  Accordion mixins
*/

/*
  Accordion styles
*/ 
.accordion{

}

.accordion-item{
  
}

.accordion-title{
  font-weight:bold;
  font-size:0.9em;
}

.accordion-item.is-active .accordion-title{
  background-color:$secondary-color;
  color:$white;
  
}