/* Form element styles */
#form-messages {
  margin-bottom: 1em;
  font-weight: bold;
}

#form-messages.success {
  color: green;
}

#form-messages.error {
  color: red;
}

.contact-form {

  textarea {
    min-height: 130px;
  }
}
