/* Form element styles */
.form-wrapper {

}

#form-message {
  margin-bottom: 1em;
  font-weight: bold;

  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}

textarea {
  min-height: 130px;
}
