/* 
  Slick slider styles
  http://kenwheeler.github.io/slick/
  https://github.com/kenwheeler/slick/
 */


/* 
  Remove blue lines around slick-slide
  https://github.com/kenwheeler/slick/issues/1562
 */
.slick-slide:focus { outline: none; }

/* Slick slider custom styles */
.forh-slider {
  
}