{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{#ifpage 'index'}}
    <title>Star Wars Theme | HLS Template #0</title>
    <meta name="description" content="Website template for work.">
    {{/ifpage}}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{root}}assets/styles/main.css">

    <link rel="icon" type="image/png" href="favicon.png">
  </head>
  <body>
    
    {{> header}}

    {{#ifpage 'index'}}
      {{> hero}}
    {{/ifpage}}

    {{!- body takes the contents of the pages folder -- }}
    {{> body}}
    
    {{> footer}}
    
    <script src="{{root}}assets/scripts/main.js"></script>
  </body>
</html>